<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-segment value="all" (ionChange)="onSegmentChange($event)">
          <ion-segment-button value="all">All Places</ion-segment-button>
          <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        
        <div *ngIf="places$ | async as place; else emptyPlace" >
          <ion-card class="ion-padding">
            
            <ion-card-header>
              <ion-card-title>{{ place[0]?.title }}</ion-card-title>
              <ion-card-subtitle>{{ place[0]?.price  | currency }}</ion-card-subtitle>
            </ion-card-header>
            

            <ion-img [src]= place[0]?.imageUrl></ion-img>
            <ion-card-content>
              <p>{{ place[0]?.description }}</p>
            </ion-card-content>
            <ion-button
              [routerLink]="['/places/discover', place[0]?.id]"
              routerDirection="forward"
              fill="clear"
              color="primary"
            >
              More
            </ion-button>
          </ion-card>
         
        </div>
          <ng-template #emptyPlace class="ion-text-center">
            <ion-text>There are no bookable places right now, please come back later.</ion-text>
          </ng-template>
      
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" >
        <div *ngIf="places$ | async as place">
          @for(place of place.slice(1); track $index) {
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" [src]="place.imageUrl"/>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ place.title }}</h2>
                  <p>{{ place.description }}</p>
                </ion-label>
                <ion-button fill="clear" [routerLink]="['/places/discover', place.id]">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          } @empty {
            <div>
              <p>There's no available places yet.</p>
            </div>
          }
        </div>
       
      
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
